<div id="naruto-hero-statistics" class="naruto-summary-stats-container">
    <h3>Hero Statistics</h3>
    <div class="attributes flexrow naruto-summary-stats">
        <div class="info-box current" title="Action Points">
            <h5><a class="rollable naruto-action-point-roll" data-tooltip="Roll Action Point">Action Points</a></h5>
            <input class="value text-box direct allow-relative" type="text" name="flags.naruto-d20.actionPoints" value="{{flags.naruto-d20.actionPoints}}" data-dtype="Number" placeholder="0">
        </div>
        
        <div class="info-box current" title="Reputation">
            <h5>Reputation</h5>
            <input class="value text-box direct allow-relative" type="text" name="flags.naruto-d20.reputation" value="{{flags.naruto-d20.reputation}}" data-dtype="Number" placeholder="0">
        </div>
        
        <div class="info-box current" title="Wealth">
            <h5>Wealth</h5>
            <input class="value text-box direct allow-relative" type="text" name="flags.naruto-d20.wealth" value="{{flags.naruto-d20.wealth}}" data-dtype="Number" placeholder="0">
        </div>
    </div>
    <hr class="naruto-summary-divider">
</div>
